.rating {
  color: yellow;
}
.sect-2 {
  overflow: hidden;
  user-select: none;
}
.flex-container {
  flex-flow: nowrap;
  display: flex;
}
.menu-holder {
  z-index: 100;
  width: 25vw;
  position: relative;
  z-index: 100;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: none;
}
.home-nav {
  padding: 130px 0 20px 80px;
  height: 100vh;
  background-color: #fff;
  height: 100%;
  padding-top: 0;
}
.home-nav .nav-list {
  padding-top: 20px !important;
}
.home-nav .nav-list .nav-list-item {
  padding-bottom: 15px;
  display: block;
}
.home-nav .nav-list .nav-list-link {
  color: #020303;
  font-size: 15px;
  font-weight: 300;
  display: block;
  padding-right: 40px;
  position: relative;
}
.home-nav .main-menu-dropdown {
  position: absolute;
  height: 100%;
}
.main-menu__dropdown .nav-list {
  background-color: #efe8de;
  padding: 130px 0 20px 50px;
  height: 100%;
}
.main-menu-dropdown {
  position: fixed;
  width: 25vw;
  height: 100vh;
  left: 100%;
  top: 0;
  -webkit-transform: translate(-120%);
  transform: translate(-120%);
  z-index: -1;
}
.home-nav .nav-list-item > .nav-list-link::after {
  content: "\e93e";
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
  height: 16px;
  position: absolute;
  font-size: 14px;
}
.sect2-category {
  background: red;
  padding: 5rem;
}

.home-cat {
  position: relative;
  border-radius: 10%;
  background-color: #fff;
}

.home-cat img {
  height: 240px;
  object-fit: contain;
  transition: opacity 0.3s;
}
.home-cat .cat-img {
  width: 100%;
  height: 189px;
  object-fit: cover;
  filter: brightness(50%);
  border-radius: 10px;
}
.home-cat .box {
  position: absolute;
  z-index: 111111;
  top: 5%;
  left: 5%;
  opacity: 1;
  text-align: center;
  display: flex;
  align-items: center;
  color: #000;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 10px;
}
.home-cat .home-cat-box {
  color: #fff;
  font-weight: 100;
}
.home-categories {
  padding: 2rem;
}
.sect-2 img {
  border-radius: 10px;
}
.home-cat a {
  color: #fff;
}
.home-cat .home-slider {
  overflow: hidden;
}
.home-slider .slick-arrow {
  position: absolute;
  color: #dbdbdb;
  z-index: 11111;
}
.home-slider .slick-prev {
  left: 10px;
}
.home-slider .slick-next {
  right: 10px;
}
.sect-2 .banner-box {
  padding: 1rem;
  background: white;
  border-radius: 10px;
  max-height: 430px;
}
.sect-2 .banner-box2 {
  /* padding: 1rem; */
  /* background: white; */
  /* border-radius: 10px; */
  /* overflow: hidden; */
  /* max-height: 361px; */
}
.cat-list {
  max-height: max-content;
  background: white;
  border-radius: 10px;
  overflow-y: scroll;
}
.sect-2 ::-webkit-scrollbar {
  width: 5px;
}
.sect-2 ::-webkit-scrollbar-thumb {
  display: none;
}
.sect-2 .catalog:hover ::-webkit-scrollbar-thumb {
  background: #e50914;
  border-radius: 5px;
  padding: 10px;
  display: block;
}
.sect-2 .cat-list li {
  padding: 5px 0;
  cursor: pointer;
}
.sect-2 .cat-list li a {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  /* letter-spacing: 1.1px; */
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}
.sect-2 .cat-list li a svg {
  color: #ededed;
}

.sect-2 .cat-list li:hover a,
.sect-2 .cat-list li:hover svg {
  color: #e50914;
}
.sect-2 .catalog {
  display: none;
}
.sect-2 .mob-cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sect-2 .banner {
  max-height: 500px !important;
}
.home-slider-img {
  /* height: 335px; */
  width: 100%;
}
.sect-2 .home-slider .slick-slide div {
  margin: 0;
}
/* ! Section 3 */
.sect-3 {
  overflow: hidden;
  padding: 2rem 0;
}
.sect-3 .flash-card {
  padding: 0 5px;
}

@media (min-width: 1366px) {
  .menu-holder {
    display: block;
  }
}
@media (min-width: 992px) {
  .sect-2 .catalog {
    display: block;
  }
}
@media (max-width: 992px) {
  .sect-2 .banner-cat {
    display: none;
  }
  .sect-2 .mob-cat-list {
    display: block;
  }
  .sect-2 .banner {
    max-height: max-content !important;
  }
  .home-slider-img {
    max-width: 100% !important;
    height: auto;
  }
}
@media (max-width: 468px) {
  .home-cat .cat-img {
    height: 100px;
  }
}
/* Temel Stiller */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
}
.subs {
  margin: 2rem 0;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.input-group button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #888;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.5s;
}

.input-group button:hover {
  background-color: var(--main-color);
}

/* İletişim Bilgileri */
.contact-info {
  margin-top: 30px;
  font-size: 14px;
}

/* Hata Mesajları */
.error-message {
  color: #ff0000;
  margin-top: 5px;
}

/* Başlık Stili */
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Başlık İkinci Stil */
.sub-title {
  font-size: 18px;
  margin-bottom: 15px;
  color: #666;
}
