:root {
  --background-color: #fff;
  --text-color: #000;
  --main-color: #e50914;
}
header {
  box-shadow: 0 0px 5px rgba(57, 63, 72, 0.3);
  background: #fff;
  position: sticky;
  z-index: 111111111;
  background: white;
  width: 100%;
  top: 0;
}
header .logo-text {
  font-size: 1.5rem;
}
header a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
}
header svg {
  font-size: 1.5rem;
}
/* Temel Navbar Stili */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Stili */
.navbar-logo {
  text-decoration: none;
  font-size: 24px;
  color: var(--main-color);
}

/* Menü Stili */
.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-menu li {
  /* margin-right: 20px; */
  padding: 0 10px;
}
/* ! Navbar top */
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-top-logo .logo {
  display: flex;
  align-items: baseline;
}
.navbar-menu a {
  text-decoration: none;
  /* font-weight: bold; */
}

/* Arama Kutusu Stili */
.navbar-search {
  display: flex;
  align-items: center;
  /* box-shadow: 0px 0px 5px rgba(57, 63, 72, 0.3); */
  background-color: #f3f3f3;
  border-radius: 10px;
  color: #777 !important;
}
.navbar-search .tab-search {
  padding: 0 10px;
  width: 40px;
}

.navbar-search input[type="text"] {
  background-color: #f3f3f3;
  padding: 8px 23px;
  border: none;
  border-radius: 10px;
  outline: none;
  /* box-shadow: 0px 0px 5px rgba(57, 63, 72, 0.3); */
  width: 100%;
}

/* Hamburger Menü Stili */
#menuButton .fa-bars {
  transition: transform 0.5s ease;
}

#menuButton.open .fa-bars {
  transform: rotate(360deg);
}

.navbar-toggler {
  display: none;
  background-color: transparent;
  border: none !important;
  font-size: 22px;
  cursor: pointer;
  color: var(--main-color);
  outline: none !important;
  box-shadow: none !important;
}

.navbar-search button[type="submit"] {
  background-color: var(--background-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(57, 63, 72, 0.3);
}

.navbar .nav-bottom {
  width: 100%;
  /* padding-top: 1rem; */
}

.navbar .nav-bottom i {
  color: var(--text-color);
}
.navbar .nav-bottom .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.navbar .nav-bottom .cart-link {
  position: relative;
}
.navbar .nav-bottom .cart-count {
  border-radius: 50%;
  background-color: #e50914;
  color: #fff;
  text-align: center;
  font-size: 10px;
  display: block;
  min-width: 15px;
  height: 15px;
  line-height: 16px;
  position: absolute;
  top: 25%;
  right: 0%;
}
.navbar .search {
  padding: 0 10px;
}
header .searchBar {
  width: 100%;
  height: 60px;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0px 0px 0px 0.1px;
  animation: mobileMenu 1.3s ease forwards;
}
header .searchBar .searchInput {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 10px;
  width: 100%;
  transition: all 1.5s ease-in-out;
}
header .searchBar .searchInput svg {
  font-size: 20px;
  flex-shrink: 0;
  cursor: pointer;
  margin: 0 10px;
}
header .searchBar .searchInput input {
  width: 100%;
  height: 50px;
  background-color: white;
  outline: 0;
  border: 0;
  border-radius: 30px 0 0 30px;
  padding: 0 15px;
  font-size: 14px;
}
header .mobile-menu,
.searchBar {
  display: none;
  cursor: pointer;
}
.nav-mobMenu {
  display: none;
}
.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
.dropdown-mob {
  position: absolute !important;
  left: 0%;
  top: 135%;
}
.dropdown-p {
  position: absolute !important;
  right: 0%;
  top: 135%;
}
.dropdown-toggle::after {
  content: none;
}
.nav-menu {
  display: block;
}
.nav-left,
.userIcon-mob,
.nav-menu- {
  display: none;
}
.navbar-menu.active .nav-menu- {
  display: block !important;
}
/* ! Header Dropdown */
header .cat_dropdown {
  position: relative;
}

.dropdown__menu {
  display: none;
}
header .cat_dropdown:hover .dropdown__menu {
  position: absolute;
  display: block;
  left: 0;
  top: 100%;
  background-color: #fff;
}
header .dropdown__menu ul {
  display: block;
  margin: 10px;
}
header .dropdown__menu ul li {
  width: 150px;
  padding: 10px;
}
/*! Search Results  */
.search-result {
  height: min-content;
  overflow: hidden;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
  position: absolute;
  top: 100%;
  background-color: #fff;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  img {
    margin-right: 10px;
    border-radius: 4px;
  }

  .search-result-box {
    display: flex;
  }
}

.search-result-title {
  padding: 0 10px;
}

/* ! Header Dropdown */
@media only screen and (min-width: 768px) {
  .header .searchBar .searchInput input {
    height: 60px;
    font-size: 20px;
    padding: 0 30px;
  }
}
/* Medya Sorguları ile Responsive Tasarım */
@media screen and (max-width: 992px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 0;
    box-shadow: 0 0px 5px rgba(57, 63, 72, 0.3);
    z-index: 1111;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    align-items: flex-start;
  }
  .navbar-menu li {
    padding: 10px 10px;
  }
  .searchBar,
  .mobile-menu {
    display: block !important;
  }
  .mobile-menu svg {
    font-size: 24px;
    margin: 0 3px;
    color: #000;
  }

  .navbar-menu.active {
    display: flex;
    padding: 0 5px;
  }
  .navbar-menu.active .cart-link {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
  .search {
    display: none;
  }
  .nav-mobMenu {
    display: block;
  }
  .nav-menu- {
    display: block;
  }
  .nav-menu {
    display: none;
  }
  .nav-left {
    display: block;
    display: flex;
    align-items: center;
  }
  .userIcon-mob {
    display: block;
  }
  .search-result {
    width: 100%;
  }
}
