:root {
  --background-color: #fff;
  --text-color: #000;
  --main-color: #E50914;
}
header {
  box-shadow: 0 0px 5px rgba(57, 63, 72, 0.3);
  background: #fff;
  position: sticky;
  z-index: 111111111;
  background: white;
  width: 100%;
  top: 0;
}
header .logo-text {
  font-size: 1.5rem;
}
header a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
}
header svg {
  font-size: 1.5rem;

}
/* Temel Navbar Stili */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Stili */
.navbar-logo {
  text-decoration: none;
  font-size: 24px;
  color: var(--main-color);
}

/* Menü Stili */
.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  /* margin-right: 20px; */
  padding: 0 10px;

}

.navbar-menu a {
  text-decoration: none;
  /* font-weight: bold; */
}

/* Arama Kutusu Stili */
.navbar-search {
  display: flex;
}

.navbar-search input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px 0px 0px 5px;
   outline: none;
   box-shadow: 0px 0px 5px rgba(57, 63, 72, 0.3);
   width: 100%;
}


/* Hamburger Menü Stili */
.navbar-toggler {
  display: none;
  background-color: transparent;
  border: none !important;
  font-size: 20px;
  cursor: pointer;
  color: var(--main-color);
  outline: none !important;
   box-shadow: none !important;
}


.navbar-search button[type="submit"] {
   background-color: var(--background-color);
   border: none;
   padding: 5px 10px;
   cursor: pointer;
   box-shadow: 0px 0px 5px rgba(57, 63, 72, 0.3);

 }
 
.navbar .nav-bottom {
   width: 100%;
   /* padding-top: 1rem; */

}

.navbar .nav-bottom i {
   color: var(--text-color);
}
.navbar .nav-bottom .logo {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 0;
}
.navbar .nav-bottom .cart-link {
   position: relative;
}
.navbar .nav-bottom .cart-count {
 
  border-radius: 50%;
  background-color: #E50914;
  color: #fff;
  text-align: center;
  font-size: 10px;
  display: block;
  min-width: 15px;
  height: 15px;
  line-height: 16px;
  position: absolute;
  top: 25%;
  right: -2%;
}
.navbar .search {
  padding: 0 10px;
}
header .searchBar {
  width: 100%;
  height: 60px;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0px 0px 0px 0.1px;
  animation: mobileMenu 1.3s ease forwards;
}
header .searchBar .searchInput {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 10px;
  width: 100%;
}
header .searchBar .searchInput svg {
  font-size: 20px;
  flex-shrink: 0;
  cursor: pointer;
  margin: 0 10px;
}
header .searchBar .searchInput input {
  width: 100%;
  height: 50px;
  background-color: white;
  outline: 0;
  border: 0;
  border-radius: 30px 0 0 30px;
  padding: 0 15px;
  font-size: 14px;
}
header .mobile-menu ,.searchBar{
  display: none;
}
.nav-mobMenu {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header .searchBar .searchInput input {
    height: 60px;
    font-size: 20px;
    padding: 0 30px;
  }
}
/* Medya Sorguları ile Responsive Tasarım */
@media screen and (max-width: 992px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 0;
  box-shadow: 0 0px 5px rgba(57, 63, 72, 0.3);
   z-index: 1111;
    width: 100%;
    height: 100vh;
    background-color: #fff;
  }
  .navbar-menu li {
    padding: 10px 10px;

  }
  .searchBar,
  .mobile-menu {
    display: block !important;
  }
  .mobile-menu svg {
    font-size: 24px;
    margin: 0 3px;
    color: #000;
  }
  
  .navbar-menu.active {
    display: flex;
      padding: 0 5px;
  }
  .navbar-menu.active .cart-link{
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
  .search {
    display: none;
  }
  .nav-mobMenu {
    display: block;
  }
}
@media screen and (max-width: 668px) {
  
}
